<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
    <h1 class="app-name mb-4">Danone Inventory</h1>
    <div class="card p-5 shadow-lg" style="width: 26rem;">
      <h3 class="text-center mb-4 fw-bold">Login</h3>
      <form>
        <div class="form-group mb-3">
          <label for="username" class="fw-bold">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username" required>
        </div>
        <div class="form-group mb-4">
          <label for="password" class="fw-bold">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100 btn-lg">Login</button>
      </form>
    </div>
    <!-- Image de la marque en dessous de la carte de login -->
    <div class="mt-4">
      <img src="/assets/logo.png" alt="Danone Logo" class="img-fluid" style="max-width: 180px;">
    </div>
  </div>
